<!-- Template to show the chosen Thot -->

<div class="col s12 center"> 
 <div class="row">
  <div class="col s12 center">
   <h5 class="pink-text">{{name}} is your Dream THOT</h5>
   <div class="card-image"><img src="{{photo}}" /></div>
  </div>
 </div>
</div>